


<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <h1 style="text-align:center; padding:1cm;"><%= @name %>님의 이상형은!</h1>
      <br/>
      <%= image_tag @img , style:"width: 15cm;"%>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
