
  <div  class="container">


    <div class="container">
      <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
          <form style="text-align:center; padding:1cm;" action="/randomresult" >
            <div style="width:6cm; margin:auto;"  class="input-group mb-3">

              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">이름</span>
              </div>
              <input type="text" name="name" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <input type="radio" name="gender" value="female"> 여자 </input>&emsp; &emsp;
            <input type="radio" name="gender" value="male"> 남자 </input>
            <br/><br/><br/>


            <input type="submit" value="입력"/>
          </form>
        </div>
        <div class="col-sm">
        </div>
      </div>
    </div>




  </div>
